#root {
  max-width: 1024px;
  margin: 0 auto;
}

.app {
  width: 100%;
  text-align: center;
  display: flex;
  gap: 30px;
}

.ingredients {

}

.ingredient-list {
  width: 450px !important;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.ingredient-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ingredient-button {
  width: 145px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: none;
}

.ingredient-button span {
  margin-left: 10px;
}

.burger {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bun-top,
.bun-bottom {
  background-color: #f8b400;
  width: 200px;
  height: 40px;
  border-radius: 50%;
}

.ingredient {
  margin: 5px 0;
}

.total-price {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.delete-button:disabled {
  cursor: not-allowed;
}

.trash-icon {
  width: 40px;
  height: 40px;
}